.login-options-modal{
  background-color: white;
    /* margin: 30px 50px; */
    font-family: sans-serif;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

.login-options-modal li{
  padding: 15px 30px;
  /* width: 70%; */
  border-bottom: 1px solid black;
  color: rgba(0, 140, 247, 0.954);
  /* color:white; */
  cursor: pointer;
  transition: 0.2s;
}

.login-options-modal li:hover{
  background-color: rgba(0, 140, 247, 0.954);
  color:white;
}