.login-options-modal{
  font-family: sans-serif;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
}

.login-options-modal li{
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.2s;
}

.login-options-modal li:hover{
  background-color: rgba(128, 128, 128, 0.096);
  /* color:white; */
}