.edit-profile-container{
  position: relative;
  display: block;
  width: 860px;
  margin: 6px auto;
  -webkit-box-align: center;
  align-items: center;
  font-family: sans-serif;
}

.edit-profile-container nav,
.edit-profile-container .edit-profile-details{
  display: inline-block;
  /* flex-direction: row; */
  vertical-align: top;
  box-sizing: border-box;
}

.edit-profile-container nav ul li{
  font-size: 18px;
  padding: 10px;
  padding-right: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-profile-container nav ul li:hover{
  background-color: rgba(128, 128, 128, 0.096)
}

.edit-profile-container nav{
  position: relative;
  height: 100%;
  width: 160px;
}

.edit-profile-container .edit-profile-details {
  padding: 50px;
  width: 700px;
}

.edit-profile-form {
  display: block;
  position: relative;
  width: 100%;
}

.edit-profile-form label{
  width: 100px;
  position: relative;
  display: inline-block;
  font-weight: 600;
  text-align: right;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.edit-profile-form input[type="text"]{
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
}

.edit-profile-form input[type="submit"]{
  margin: 0 auto;
  position: relative;
  display: block;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.edit-profile-form input[type="submit"]:hover{
  background-color: rgba(128, 128, 128, 0.096);
}

.edit-profile-form #label-file {
  color: rgba(0, 140, 247, 0.954);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.edit-profile-form h4{
  margin-bottom: 5px;
  text-align: center;
}

.edit-profile-form img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  object-fit: cover;
}

.editProfileErrors{
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 0, 0, 0.7);
  font-size: 14px;
}
