.user-profile-container{
  position: relative;
  display: block;
  width: 960px;
  margin: 6px auto;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 30px;
}
.user-profile-container hr { 
  border-color: #72727214;
}

.profile-details {
  display: block;
  margin: 0 auto;
  width: 350px;
  margin-bottom: 60px;
}

.profile-details img,
.profile-details div{
  position: relative;
  display: block;
}

.profile-details img{
  position: absolute;
  background-color: blueviolet;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  left: 15%;
  object-fit: cover;
}

.detail-top,
.detail-middle,
.detail-bottom{
  display: block;
  font-family: sans-serif;
  padding-bottom: 15px;
}

.detail-top h2,
.detail-top a,
.detail-top i {
  display: inline-block;
  vertical-align: middle;
}

.detail-top h2{
  font-size: 30px;
  font-weight: 100;
}

.detail-top a{
  border: 1px solid rgb(220, 220, 220);
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 3px;
  margin-left: 12px;
}

.detail-top i,
.detail-top a{
  cursor: pointer;
}

.detail-top i {
  margin-left: 12px;
}

.detail-middle p {
  display: inline-block;
  margin-right: 15px;
}

.detail-middle p strong {
  font-weight: 600;
}

.detail-bottom strong {
  font-weight: 600;
}

.user-posts-container{
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-posts-container .posts-stack{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.user-posts-container .posts-stack .post-item{
  display: flex;
  width: 33%;
  overflow: hidden;
  margin: 20px;
  position: relative;
  z-index: 1;
}

.user-posts-container .posts-stack:last-child{
  display: block;
  margin: 0px;
  margin-left: 19px;
  left: 0px;
  position: relative;
}

.user-posts-container .posts-stack:last-child .post-item{
  display: inline-block;
  width: 32%;
  box-sizing: border-box;
  margin: 20px 0px;
}

.user-posts-container .posts-stack:last-child .post-item:nth-child(2) {
  margin-left: 20px;
}

.user-posts-container .posts-stack:last-child .post-item:last-child {
  margin-left: 17px;
}

.profile-post-icons{
  /* display: none; */
  position: absolute;
  color: white;
  height: 100%;
  width: 100%;
  max-width: 280px;
  max-height: 280px;
  text-align: center;
  left: 0px;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.349);
  z-index: 0;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.profile-post-icons i,
.profile-post-icons p {
  display: inline-block;
  position: relative;
  top: 40%;
}

.profile-post-icons i{
  margin: 10px;
}

.posts-stack .post-item .profile-post-icons{
  opacity: 0;
  transition: opacity 0.2s;
  display: block;
  will-change: opacity;
}

.posts-stack .post-item:hover .profile-post-icons{
  opacity: 1;
}

.profile-single-image{
  width: 280px;
  height: 280px;
  overflow: hidden;
  border: 1px solid black;
}

.profile-single-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* padding: 50px; */
  height: 100%;
  margin-top: auto;
  object-fit: cover;
}
