.explore-container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: block;
}

.explore-container h3 {
  margin-left: 15px;
  font-family: sans-serif;
  color:gray;
  font-size: 14px;
}

.stacks-container{
  display: flex;
  flex-direction: column;
  position: relative;
}

.stacks-container .posts-stack{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.stacks-container .posts-stack{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.stacks-container .posts-stack .post-item{
  display: flex;
  width: auto;
  overflow: hidden;
  margin: 15px 19px;
  position: relative;
  z-index: 1;
}

.stacks-container .posts-stack:last-child{
  align-items: flex-start;
  align-content: unset;
  justify-content: center;
}

.stacks-container .posts-stack .post-item:hover{
  cursor: pointer;
}

.stacks-container .posts-stack .post-item .profile-post-icons{
  opacity: 0;
  transition: opacity 0.4s;
  display: block;
  will-change: opacity;
}

.stacks-container .posts-stack .post-item:hover .profile-post-icons{
  opacity: 1;
}