#post-show-container{
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-radius: 3px;
  font-family: sans-serif;
  overflow:hidden;
  margin-top: 3%;
}

 .post-show-img {
  display: inline-block;
  overflow: hidden;
  touch-action: manipulation;
  z-index: 10;
  max-width: 60%;
  max-height: 700px;
  object-fit: cover;
  vertical-align: middle;
  width: inherit;
  background-position: center;
}

.post-show-img i {
  position: absolute;
  color: white;
  display: none;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 47%;
  left: -20%;
}

.post-show-img img{
  object-fit: cover;
  width: 100%;
  height: auto;
}

.image-show-details{
  display: inline-block;
  position: absolute;
  width: 40%;
  vertical-align: top;
  height: 100%; 
}

.image-show-details .post-author{
  vertical-align: top;
}

.image-show-details #image-show-options{
  display: block;
  opacity: 0;
  margin-top: 7px;
  transition: 0.3s;
}

.image-show-details #image-show-options.show{
  opacity: 1;
}

.image-show-details .bottom-details{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.image-show-details .bottom-details input {
  padding: 0px;
}

.image-show-details .post-caption {
  display: block;
  padding-top: 5px;
}

.image-show-details .post-caption p{
  display: flex;
  flex-wrap: wrap;
}

.image-show-details .post-comments {
  border-bottom: 0px;
  overflow: auto;
  max-height: 550px;
  z-index: 0;
  padding-top: 5px;
}

.image-show-details .comment-item-preview {
  display: block;
  padding: 1px 0px;
}
.image-show-details .comment-item-preview p{
  vertical-align: middle;
}