#post-show-container{
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
  border-radius: 3px;
  font-family: sans-serif;
}

 .post-show-img {
  display: inline-block;
  overflow: hidden;
  touch-action: manipulation;
  z-index: 10;
  max-width: 60%;
  max-height: 700px;
  object-fit: cover;
}

.post-show-img i {
  position: absolute;
  color: white;
  display: none;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 47%;
  left: -20%;
}

.post-show-img img{
  object-fit: cover;
}

.image-show-details{
  display: inline-block;
  position: absolute;
  width: 40%;
  vertical-align: top;
  height: 100%; 
}

.image-show-details .post-author{
  vertical-align: top;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.image-show-details .bottom-details{
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(235, 235, 235);
}

.image-show-details .bottom-details input {
  padding: 0px;
}

.image-show-details .post-caption {
  display: block;
}

.image-show-details .post-caption p{
  display: flex;
  flex-wrap: wrap;
}

.image-show-details .post-comments {
  border-bottom: 0px;
  overflow: auto;
}

.image-show-details .comment-item-preview {
  display: block;
  padding: 1px 0px;
}
.image-show-details .comment-item-preview p{
  vertical-align: middle;
}