.posts-feed {
  color: #262626;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -20px;
  max-width: 550px;
  width: 100%;
  font-family: sans-serif;
  display: block;
  position: relative;
  z-index: 9;
}

.single-post {
  box-sizing: border-box;
  margin: 60px 0px;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
  border-radius: 3px;
  display: block;
  position: relative;
  overflow-x: hidden;
}

.post-img {
  position: relative;
  width: 100%;
  touch-action: manipulation;
  z-index: 10;
  overflow: hidden;
}

.post-img img{
  z-index: 0;
}

.post-img i {
  position: absolute;
  color: white;
  display: none;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 47%;
}

.post-author{
  position: relative;
  padding: 7px;
}

.post-author img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: blueviolet;
  margin: 3px;
  object-fit: cover;
}

/* may have to change h3 to anchor for link */
.post-author img,
.post-author a, 
.post-author ul{
  display: inline-block;
  vertical-align: middle;
}

.post-author .follow-button,
#follow-button{
  list-style: outside;
  list-style-type: initial;
  margin-left: 25px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(103, 103, 103);
}

#follow-button{
  color: rgba(0, 140, 247, 0.954);
  list-style: black;
}

.post-author i {
  float: right;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.image-options{
  display: block;
  position: absolute;
  background-color: white;
  z-index: 11;
  right:0px;
  transform: translateX(100%);
  border-radius: 3px;
  border-top-right-radius: 0px;
  margin-top: 46px;
  border: 1px solid rgb(235, 235, 235);
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.show{
  opacity: 1;
  transform: translateX(0%);
}

.image-options li {
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.3s;
}

.image-options li:first-child{
  border-bottom: 1px solid rgb(235, 235, 235);
  color:red;
}

.image-options li:first-child:hover{
  background-color: rgba(255, 0, 0, 0.096);
}

.image-options li:last-child:hover{
  background-color: rgba(128, 128, 128, 0.096);
}

.single-post .post-author a{
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
}

.post-icons {
  display: flex;
  flex-direction: row;
  margin-left: 6px;
}

.post-icons i {
  font-size: 23px;
  margin: 5px;
}

.post-icons i:nth-child(2){
  margin-left: 10px;
}

.post-icons > .fas{
  color: red;
}

.post-likes,
.post-caption p:first-child,
.comment-item-preview p:first-child{
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
}

.post-caption p{
  display: inline-block;
  font-size: 14px;
}

.post-caption p:first-child,
.comment-item-preview p:first-child,
.comment-item-preview:hover i,
.new-comment input{
  cursor: pointer;
}

.post-caption p:nth-child(2){
  margin-left: 10px;
}

.post-caption .num-comments{
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  display: block;
  color: rgb(173, 173, 173);
  margin-top: 5px;
}

.post-caption{
  padding-bottom: 5px;
}

.post-comments{
  position: relative;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(235, 235, 235); 
}

.comment-item-preview p{
  display: inline-block;
}

.comment-item-preview p:nth-child(2){
  margin-left: 5px;
  font-size: 14px;
  color: rgb(31, 31, 31);  
  font-family: 'Noto Sans JP', sans-serif;
}

.comment-item-preview i{
  display: none;
}

.comment-item-preview:hover i {
  display: block;
  float: right;
  margin-right: 10px;
  font-size: 12px;
  padding: 3px;
}

.new-comment {
  display: block;
  position: relative;
  padding: 15px;
}

.new-comment input,
#new-comment-field{
  display: inline-block;
  vertical-align: middle;
}

#new-comment-field {
  background: 0 0;
  border: 0;
  max-height: 80px;
  outline: 0;
  padding: 0;
  width: 85%;
  height: 18px;
  box-sizing: border-box;
  resize: none;
  word-wrap: break-word;
  word-break: break-all;
}

#new-comment-field::placeholder {
  color: rgb(152, 152, 152);
}

.new-comment input[type="submit"]:disabled {
  color: rgba(0, 140, 247, 0.303);
  cursor: default;
  background-color: transparent;
  border: 0px;
}

.new-comment input{
  border: 0px;
  width: 11%;
  font-size: 15px;
  color: rgba(0, 140, 247, 0.954);
  float: right;
  font-weight: 600;
  background-color: transparent;
}

