@media all and (max-width: 800px){
  .mobile-nav{
    position: relative;
    width: 100%;
    #menu-toggle-icon{
      display: block;
      position: absolute;
      margin: 0px 5px 5px 15px;
      padding: 10px;
      font-size: 23px;
      cursor: pointer;
      transition: color 0.3s;
      &:hover{
        color: gray;
      }
    }
    #home-icon{
      display: block;
      position: absolute;
      margin: 0px 5px 5px 15px;
      padding: 10px;
      font-size: 23px;
      cursor: pointer;
      transition: color 0.3s;
      right: 5px;
      &:hover{
        color: gray;
      }
    }
  }

  .nav-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Cookie', cursive;
    margin-top: 15px;
    h1{
      font-size: 35px;
      vertical-align: middle;
      cursor: pointer;
      opacity: 0; //revert to 1
      transition: opacity 0.3;
      pointer-events: visible;
    }
    h1.hide-top{
      opacity: 0;
      pointer-events: none;
    }
    i{
      font-size: 25px;
      vertical-align: middle;
      margin: 8px 0px;
      box-sizing: border-box;
      padding-right: 10px;
      cursor: pointer;
      opacity: 0; //revert to 1
      transition: opacity 0.3;
      pointer-events: visible;
    }
    i.hide-top{
      opacity: 0;
      pointer-events: none;
    }
  }

  #search-mobile{
    align-self: center;
    position: absolute;
    opacity: 1; // revert to 0
    pointer-events: none;
    transition: opacity 0.3s;
    input{
      width: 200px;
      border-radius: 3px;
      padding: 5px;
      border: 1px solid rgb(104, 104, 104);
      cursor: pointer;
      &::placeholder{
        text-align: center;
      }
      &:focus{
        outline: none;
        background-color: rgba(227, 227, 227, 0.144);
      }
    }
    label{
      position: absolute;
      background-color: rgb(218, 218, 218);
      color: white;
      padding: 0px 4px;
      font-family: sans-serif;
      border-radius: 20px;
      right: 3px;
      font-size: 12px;
      top: 4.4px;
      display: none;
      opacity: 1;
      transition: opacity 0.3s;
      border: 1px solid gray;
      z-index: 5;
      cursor: pointer;
    }
    label.show-button {
      opacity: 1;
    }
  }

  #search-mobile.show-search{
    opacity: 1;
    pointer-events: visible;
  }

  div.side-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transform: translateX(-100px);
    transition: transform 0.3s;
    .nav-icons{
      position: relative;
      top: 51px;
      display: flex;
      flex-direction: column;
      width: max-content;
    }
    li{
      margin: 0px;
      a{
        padding: 20px;
        &:hover{ color: gray }
      }
      i{
        padding: 20px;
        &:hover{ color: gray }
      }
    }
  }

  div.show-menu{
    pointer-events: visible;
    transform: translateX(0px);
  }
}